name: Build and run

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  pull_request:
    paths:
      - "**"
      - "!docs/**"
      - "!README.md"
      - "!CONTRIBUTING.md"
      - "!.github/**"
      - ".github/workflows/BuildAndRun.yaml"
      - "!mkdocs.yml"
      - "!pyproject.toml"
      - "!poetry.lock"
  push:
    branches:
      - master
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  job1:
    name: BuildAndRun
    runs-on: ${{ matrix.runs_on }}
    container:
      image: ros:${{ matrix.rosdistro }}
    timeout-minutes: 180
    env:
      DEBIAN_FRONTEND: noninteractive
    strategy:
      fail-fast: false
      matrix:
        rosdistro: [jazzy]
        runs_on: [self-hosted]
        branch: [fix/build_error_on_noble, master]
        cmake_build_type: [Release]
    steps:
      - name: Setup workspace
        run: mkdir -p src/scenario_simulator_v2

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: src/scenario_simulator_v2
          repository: tier4/scenario_simulator_v2
          ref: ${{ matrix.branch }}
  
      - name: Install dependencies
        run: |
          vcs import src < src/scenario_simulator_v2/dependency_humble.repos

      - name: Resolve rosdep and install colcon mixin
        run: |
          apt-get update
          apt-get install -y python3-pip python3-colcon-lcov-result lcov unzip gcovr libunwind-dev
          rosdep update
          DEBIAN_FRONTEND=noninteractive rosdep install -iy --from-paths src --rosdistro ${{ matrix.rosdistro }}
          colcon mixin add default https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
          colcon mixin update default
        shell: bash

      - name: Build
        run: |
          source /opt/ros/${{ matrix.rosdistro }}/setup.bash
          colcon build --symlink-install \
          --event-handlers console_cohesion+ \
          --cmake-args \
            -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            -DBUILD_CPP_MOCK_SCENARIOS=ON \
            -DBUILD_TESTING=true \
            -DCMAKE_CXX_FLAGS='-fprofile-arcs -ftest-coverage -Wno-error=class-memaccess' \
            -DCMAKE_C_FLAGS='-fprofile-arcs -ftest-coverage'
        shell: bash

      - name: Colcon test
        # ARM testing is currently broken
        if: matrix.runs_on != 'ubuntu-22.04-arm'
        run: |
          source install/setup.bash
          colcon test --event-handlers console_cohesion+ --packages-select ${{ steps.list_packages.outputs.package_list }}
          colcon lcov-result --packages-select ${{ steps.list_packages.outputs.package_list }}
        shell: bash

      - name: Show test result
        if: always()
        run: |
          source /opt/ros/${{ matrix.rosdistro }}/setup.bash
          source install/local_setup.bash
          colcon test-result --verbose
        shell: bash

      - name: Scenario test
        if: matrix.runs_on != 'ubuntu-22.04-arm'
        run: |
          source install/setup.bash
          source install/local_setup.bash
          ./src/scenario_simulator_v2/.github/workflows/workflow.sh ./src/scenario_simulator_v2/test_runner/scenario_test_runner/config/workflow.txt global_frame_rate:=20
        shell: bash

      - name: Scenario test (optional)
        id: optional-scenario-test
        if: matrix.runs_on != 'ubuntu-22.04-arm'
        run: |
          source install/setup.bash
          source install/local_setup.bash
          # execute scenarios but ignore the return code
          ./src/scenario_simulator_v2/.github/workflows/workflow.sh ./src/scenario_simulator_v2/test_runner/scenario_test_runner/config/optional_workflow.txt global_frame_rate:=20 || true
          ./src/scenario_simulator_v2/.github/workflows/generate_workflow_report.sh /tmp/scenario_workflow/optional_workflow
          echo failure=$(grep -c "<failure"  /tmp/scenario_workflow/optional_workflow/failure_report.md) >> $GITHUB_OUTPUT
        shell: bash
